body {
    text-align: center;
    font-family: sans-serif;
    background-color: antiquewhite;
}

#banner {
    height: 200px;
    width: 100%;
}

button {
    font-size: x-large;
    margin-top: 50px;
}

nav {
    margin-top: 30%;
    background-color: coral;
    font-weight: 700;
}

ul {
    list-style: none;
}