body {
    text-align: center;
    font-family: sans-serif;
    margin: 0;
    background-color: antiquewhite;
}

button {
    font-size: x-large;
}

nav {
    background-color: coral;
    font-weight: 700;
}

ul {
    list-style: none;
}