body {
    text-align: center;
    font-family: sans-serif;
    background-color: antiquewhite;
}

#banner {
    height: 200px;
    width: 100%;
}
#forklift {
    height: 50%;
    width: 80%;
}
button {
    font-size: larger;
    margin: 10px;
}

nav {
    margin-top: 30%;
    background-color: coral;
    font-weight: 700;
}

ul {
    list-style: none;
}

a {
    text-emphasis: none;
    text-decoration: none;
    color: black;
}
a:visited {
    color: gray;
    text-emphasis: none;
    text-decoration: none;
    font-weight: lighter;
}