body {
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

#title {
    text-align: center;
    font-weight: 900;
}

.question {
    font-weight: 600;
    text-align: center;
}

.answers {
    margin-bottom: 20px;
}

.answers label {
    display: block;
}

#results {
    font-size: 50px;
}

#submit {
    background-color: rgb(194, 135, 9);
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 40px;
}

#submit:hover {
    background-color: rgb(255, 166, 0);
}

nav {
    background-color: coral;
    font-weight: 600;
    color: black;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

/* Color of the text changes when user visits link */
a:visited {
    color: rgb(255, 0, 0);
    font-weight: 900;
}

#banner {
    height: 200px;
    width: 100%;
}