body {
    font-family: sans-serif;
    margin: 0;
    padding:0;
    text-align: center;
    background-color: antiquewhite;
}
nav {
    margin-top: 30%;
    background-color: coral;
    font-weight: 700;
}
ul {
    list-style: none;
}

#banner {
    height: 200px;
    width: 100%;
}